.menu {
grid-column: 4;
grid-row: 2/7;
border-left: 4px solid black;
border-right: 4px solid black;
height: 100%;
z-index: 1;
border-bottom: 4px solid black;
}
input[type="range"] {
  accent-color: #ffffff48;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 25%;
  border-bottom: 4px solid black;
}


.clear {
  
  background-color: rgb(211, 211, 211);
  border:none;
  height: 23.25%

}


.brush-color{
  background-color: rgb(255, 235, 246);

}

.brush-width {
  background-color:rgb(203, 213, 250);

}

.brush-opacity {
  background-color: rgb(206, 255, 238);

}