nav {
  grid-row: 1;
  grid-column: 1/6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  z-index: 2;
  font-family:Arial, Helvetica, sans-serif;
  border: 4px black solid;
}

ul {
  margin: 3px 0 0 0;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin: 2vh;
  font-weight: 700;
 
}
.title {
  color:black;
 
  left: 8px;
  position: absolute;
}

a {
  text-decoration: none;
  color: black;

 
}

a:hover {
  color: rgb(5, 116, 105);
  
}

@media (max-width: 420px) {
  li {
    margin: 0.5rem;
  }

  .title {
    left: 8px;
    position: absolute;
  }
}
