body {
  background: linear-gradient(rgb(173, 107, 201), rgb(152, 183, 201));
  background-repeat: no-repeat;
  height: 850px;
  margin: auto;
  z-index:0;
}

@media (min-height: 850px) {
  body {
    height: 1000px;
  }
}
@media (min-height: 1000px) {
  body {
    height: 1300px;
  }
}
@media (min-height: 1300px) {
  body {
    height: 1400px;
  }
}
