.canvas-container {
  display: flex;
  align-items: center;
  grid-row: 2/7;
  grid-column: 1/4;
  background-color: rgb(254, 254, 240);
  width: 100%;
  height: 100%;
  border-left: 5px solid black;
  
}

canvas {
  margin: auto;
  border: 4px solid black;
  background-color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button :active {
  transform: scale(0.9);
}
