


.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/7;
  grid-column: 1/4;
  background-color: rgb(254, 254, 240);
  width: 100%;
  height: 100%;
 
  

  
  
}
canvas {
  border: 2px solid black;
  background-color: white;
  


}

button :active {
  transform: scale(0.9);
  
}
