.landing-text {
 grid-column:1/4;
 grid-row: 2/7;
 height: 100%;
 width: 100%;
 background-color: rgb(254, 254, 240);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;


}

.landing-info {
 font-family: 'Playfair Display', serif;
 margin-left: 3vh;
 height: 6%;
 font-size: 25px;

 

}

.landing-description {
 font-family: Arial, Helvetica, sans-serif;
 margin-left: 3vh;
 font-size: 15px;
 color: black;
 
 
}

.landing-panel {
 background:linear-gradient(rgb(255, 235, 246),rgb(203, 213, 250),rgb(206, 255, 238),rgb(255, 206, 169), rgb(211, 211, 211));
 grid-column: 4;
 grid-row: 2/7;
 height: 99.5%;
 border-left: 4px solid black;
 border-right: 4px solid black;
 border-bottom: 4px solid black;


}