button {
  display: flex;
  border: none;
  border-bottom: 4px solid black;
  height: 20%;
  width: 100%;
  padding-top: 2vh;
  padding-left: 2vh;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: black;
} 

button:visited {
  color: black;
}

.LOL {
  background-color: rgb(255, 235, 246);
}

.love {
 background-color:rgb(203, 213, 250);
}

.uwu {
background-color: rgb(206, 255, 238);
}

.bored {
  background-color: rgb(255, 206, 169);
}

.cat{
  background-color: rgb(211, 211, 211);
  border-bottom: none;
}

button:hover{
  background-color: rgb(255, 255, 0);
}

.all-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
  grid-column: 4;
  grid-row: 2/7;
  border-left: 4px solid black;
}

.quote-container {
  grid-row: 2/7;
  grid-column: 1/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(254, 254, 240);
  font-size: 20px;
}

.image-container {
  height: 100%;
  width: 100%;
}

#text {
 margin: 0;
 font-family: 'Playfair Display', serif;
 font-weight: 700;
 width: 92%;
 line-height: 75px;
 height: 100%;
}

.fadeIn { 
  animation: fadeIn 1s; 
}

.loading {
  height: 40px;
  margin: auto;
}

.image{
  margin: auto;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.love-container {
  width: 90%;
  height: 100%;
}

.percent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.love-form {
  margin-top: 5vh;
  width: 100%;
  
}
 .love-input {
   border: 3px solid black;
   margin-right: 2vh;
 }

 .love-button {
   border: 3px solid black;
   width: 30%;
   
   background:linear-gradient(to left, rgb(255, 235, 246),rgb(203, 213, 250),rgb(206, 255, 238),rgb(255, 206, 169), rgb(211, 211, 211));
 }

 ::placeholder{
   color: black;
 }


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  @media (max-width: 540px) {
    #text {
      font-size: 20px;
      line-height: 35px;
    }
  }